{% extends 'base.html' %}

{% block extra_header %}
    <title>People</title>
{% endblock %}

{% block content %}
    <form action="{% url 'modify-person' person.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table><tr>
                <td colspan="3">{{ modified }}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" name="name" placeholder="{{ person.name }}" value="{{ person.name }}"/>
                </td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td>
                    <input type="text" name="surname"
                           placeholder="{{ person.surname }}" value="{{ person.surname }}"/>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <input type="text" name="description"
                           placeholder="{{ person.description }}" value="{{ person.description }}"/>
                </td>
            </tr>
            <tr>
                <td>Upload new photo:</td>
                <td>
                    <input id="id_image" type="file" class="" name="image">
                </td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td>
                    <button type="submit" name="submit">Modify</button>
                </td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><a href="{% url 'add-address' person.id %}" method="GET">Add address</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'add-phone' person.id %}" method="GET">Add phone</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'add-email' person.id %}" method="GET">Add email</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
