{% extends 'base.html' %}

{% block extra_header %}
    <title>Show person</title>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                <img src="{{ person.photo.url }}">
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{ person.name }}</td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td>{{ person.surname }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ person.description }}</td>
        </tr>
        <tr>
            <td><br><br></td>
        </tr>
        <tr>
            <td><strong>Addresses</strong></td>
        </tr>
        {% for address in addresses %}
            <tr>
                <td>City:</td>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>{{ address.street }} {{ address.house_number }} {{ address.flat_number }}</td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
        {% endfor %}
        <td><hr></td>
        <tr>
            <td><strong>Phones</strong></td>
        </tr>
        {% for phone in phones %}
            <tr>
                <td>Home phone:</td>
                <td>{{ phone.home_phone }}</td>
            </tr>
            <tr>
                <td>Work phone:</td>
                <td>{{ phone.work_phone }}</td>
            </tr>
            <tr>
                <td><br></td>
            </tr>
        {% endfor %}
        <td><hr></td>
        <tr>
            <td><strong>Emails</strong></td>
        </tr>
        {% for email in emails %}
            <tr>
                <td>Home email:</td>
                <td>{{ email.home_email }}</td>
            </tr>
            <tr>
                <td>Work email:</td>
                <td>{{ email.work_email }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><br></td>
        </tr>
        <tr>
            <td>
                <strong>Groups:</strong>
            </td>
        </tr>
            {% for group in groups %}
                <tr>
                    <td>
                        {{ group.name }}
                    </td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}

